<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="..static/img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="../static/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet" />



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <section id="container" >
      <!--header start-->
      <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">SV<span>MMS</span></a>
            <!--logo end-->
            
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="img/avatar1_small.jpg">
                            <span class="username">Jhon Doue</span>
                            <b class="caret"></b>
                        </a>
                    </li>
                    
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>模型展示</span>
                      </a>
                  </li>
				
				  <li>
				      <a class="active" href="sap-man.html">
				          <i class="fa fa-dashboard"></i>
				          <span>模型管理</span>
				      </a>
				  </li>
				  <li>
				      <a class="active" href="user-man.html">
				          <i class="fa fa-dashboard"></i>
				          <span>用户管理</span>
				      </a>
				  </li>
      
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              <div class="col-lg-12">
                  <div class="col-lg-6">
                      <section class="panel">
                          
                          <div class="value">
                              <h3 style="padding-top:15px;padding-bottom: 8px">&nbsp;
                                  样本参数
                              </h3>
							  <h5 style="padding-bottom: 10px">&nbsp;&nbsp;&nbsp;&nbsp; 样本名称：<span> sigver  </span>&nbsp; &nbsp;<span>样本选取方式:</span><span> 随机选取 </span></h5>
							  <h5 style="padding-bottom: 10px">&nbsp;&nbsp;&nbsp;&nbsp;训练样本数：<span> 8000  </span>&nbsp; &nbsp;<span>测试样本数:</span><span>1000 </span></h5>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-6">
                      <section class="panel">
                          
                              <h3 style="padding-top:15px;padding-bottom: 8px">&nbsp;
                                  模型参数
                              </h3>
							  <h5 style="padding-bottom: 10px">&nbsp;&nbsp;&nbsp;&nbsp; 模型名称：<span> sigver1 </span>&nbsp; &nbsp;<span>:</span><span> 模型集成 </span><span> 无 </span></h5>
							  <h5 style="padding-bottom: 10px">&nbsp;&nbsp;&nbsp;&nbsp;模型收敛方式：<span> 按精度收敛  </span>&nbsp; &nbsp;<span>模型手动控制:</span><span>是</span></h5>
                          
                      </section>
                  </div>
              </div>
              <!--state overview end-->

              <div class="row" >
                  <div class="col-lg-6">
                      <!--custom chart start-->
                      <div class="panel terques-chart"style="height: 320px">
                          <div class="panel-body chart-texture"style="height: 280px">
                              <div class="chart">                                  
									  <p style="font-size: large;float: left;"><span >FAR:</span><span>3.7%</span></p>              
                                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                              </div>
                          </div>
                          <div class="chart-tittle">
                              <span class="title">New Earning</span>
                              <span class="value">
                                  <a href="#" class="active">Market</a>
                                  |
                                  <a href="#">Referal</a>
                                  |
                                  <a href="#">Online</a>
                              </span>
                          </div>
                      </div>
                      
                      <!--custom chart end-->
                  </div>
                  <div class="col-lg-6">
                      <!--new earning start-->
                      <div class="panel terques-chart"style="height: 320px">
                          <div class="panel-body chart-texture"style="height: 280px">
                              <div class="chart">
                                      <p style="font-size: large;float: left;"><span >FRR:</span><span>5.7%</span></p>
                                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                              </div>
                          </div>
                          <div class="chart-tittle">
                              <span class="title">New Earning</span>
                              <span class="value">
                                  <a href="#" class="active">Market</a>
                                  |
                                  <a href="#">Referal</a>
                                  |
                                  <a href="#">Online</a>
                              </span>
                          </div>
                      </div>
                      <!--new earning end-->

                 
                  </div>
              </div>
              
              
              

          </section>
      </section>
      <!--main content end-->

     
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2013 &copy; FlatLab by VectorLab.
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
   <script src="../static/js/jquery.js"></script>
   <script src="../static/js/bootstrap.min.js"></script>
   <script class="include" type="text/javascript" src="../static/js/jquery.dcjqaccordion.2.7.js"></script>
   <script src="../static/js/jquery.scrollTo.min.js"></script>
   <script src="../static/js/jquery.nicescroll.js" type="text/javascript"></script>
   <script src="../static/js/jquery.sparkline.js" type="text/javascript"></script>
   <script src="../static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
   <script src="../static/js/owl.carousel.js" ></script>
   <script src="../static/js/jquery.customSelect.min.js" ></script>
   <script src="../static/js/respond.min.js" ></script>


    <!--common script for all pages-->
    <script src="../static/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="../static/js/sparkline-chart.js"></script>
    <script src="../static/js/easy-pie-chart.js"></script>
    <script src="../static/js/count.js"></script>

  <script>
  </script>

  </body>
</html>
