<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>SVMSS</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-reset.css" rel="stylesheet">
    <link href="../static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet" />
    <script src="../static/js/respond.min.js"></script>
    <style type="text/css">
        .login-body{
            background-image: url("../static/img/beach.jpg")
        }
    </style>
</head>
  <body class="login-body">
    <div class="container">
        <div class="form-signin">
            <h2 class="form-signin-heading">登录</h2>
            <div class="login-wrap">
                <input id="username" type="text" class="form-control" placeholder="账号" autofocus>
                <span id="unotice" style="display: none; color: red"></span>
                <input id="password" type="password" class="form-control" placeholder="密码">
                <span id="pnotice" style="display: none; color: red"></span>
                <button class="btn btn-lg btn-login btn-block" onclick="login()">登录</button>
                <div class="registration">
                    还没有账号?
                    <a class="" onclick="register()">
                        注册
                    </a>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">忘记密码?</h4>
                        </div>
                        <div class="modal-body">
                            <p>输入邮箱重置密码</p>
                            <input type="text" name="email" placeholder="邮箱" autocomplete="off" class="form-control placeholder-no-fix">

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-success" type="button">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script>
       function login() {
           var pass = true;
           $("#unotice").hide();
           $("#pnotice").hide();
           //获取用户名
           var username = $.trim($("#username").val());
           //获取密码
           var password = $.trim($("#password").val());
           //参数校验
           if (username == ""){
               pass = false;
               $("#unotice").show();
               $("#unotice").text("账号不能为空");
           }
           //参数校验
           if (password == ""){
               pass = false;
               $("#pnotice").show();
               $("#pnotice").text("密码不能为空");
           }
           //请求地址
           var path = "http://192.168.0.240/analysis/api";
           //登录
           if (pass){
               $.ajax({
                   type : "get",
                   url  : path + "/login",
                   data : {
                       "username": username,
                       "password": password
                   },
                   dataType : "json",
                   success  : function(data) {
                       if (data && data.code == 200){
                           window.location.href = "http://192.168.0.240/analysis/view/index";
                       } else {
                           $("#pnotice").show();
                           $("#pnotice").text(data.msg);
                       }
                   },
                   error : function(data) {
                       alert(data.msg);
                   }
               });
           }
       }

       //注册
        function register() {
            window.location.href = "http://192.168.0.240/analysis/view/register";
        }
    </script>
  </body>
</html>
